name: Project Board Automation

on:
  issues:
    types: [opened, closed]
  pull_request:
    types: [opened, ready_for_review, closed]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue or PR to project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/users/Melissa1221/projects/4
          github-token: ${{ secrets.GITHUB_TOKEN }}
